In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('Casos.csv')

In [0]:
df.rename(columns={'ID de caso':'Id','Fecha de diagnóstico':'Fecha','Ciudad de ubicación':'Ciudad_ubicacion',
                   'Departamento o Distrito':'Departamento', 'Atención**':'Atencion',	'Tipo*':'Tipo','País de procedencia':'Pais_procedencia'}, inplace = True)

In [100]:
df

        Id       Fecha Ciudad_ubicacion  ... Sexo         Tipo  Pais_procedencia
0        1  06/03/2020           Bogotá  ...    F    Importado            Italia
1        2  09/03/2020             Buga  ...    M    Importado            España
2        3  09/03/2020         Medellín  ...    F    Importado            España
3        4  11/03/2020         Medellín  ...    M  Relacionado          Colombia
4        5  11/03/2020         Medellín  ...    M  Relacionado          Colombia
...    ...         ...              ...  ...  ...          ...               ...
2704  2705  11/04/2020             Sopó  ...    F    Importado            España
2705  2706  11/04/2020            Pacho  ...    M   En estudio          Colombia
2706  2707  11/04/2020            Pacho  ...    F   En estudio          Colombia
2707  2708  11/04/2020         Monteria  ...    F   En estudio          Colombia
2708  2709  11/04/2020         Medellín  ...    M   En estudio          Colombia

[2709 rows x 9 columns]

# Filtramos a las personas que se encuentran en Casa, Hospital, UCI

In [101]:
df['Atencion'].unique()

array(['Recuperado', 'Casa', 'Hospital', 'Hospital UCI', 'Fallecido',
       'Recuperado (Hospital)'], dtype=object)

In [0]:
df = df.drop(df[df['Atencion']=='Recuperado'].index)
df = df.drop(df[df['Atencion']=='Recuperado (Hospital)'].index)

In [106]:
df['Atencion'].unique()

array(['Casa', 'Hospital', 'Hospital UCI', 'Fallecido'], dtype=object)

## Se factorizan las columnas

In [0]:
df['Ciudad_ubicacion'] = pd.factorize(df['Ciudad_ubicacion'])[0]
df['Departamento'] = pd.factorize(df['Departamento'])[0]
df['Atencion'] = pd.factorize(df['Atencion'])[0]
df['Sexo'] = pd.factorize(df['Sexo'])[0]
df['Tipo'] = pd.factorize(df['Tipo'])[0]
df['Pais_procedencia'] = pd.factorize(df['Pais_procedencia'])[0]

## Tamaño total de nuestro dataset

In [108]:
df.shape

(2495, 9)

In [0]:
df = df.drop(['Fecha'],axis=1)

In [123]:
df.head(10)

    Id  Ciudad_ubicacion  Departamento  ...  Sexo  Tipo  Pais_procedencia
10  11                 0             0  ...     0     0                 0
11  12                 1             1  ...     0     0                 1
17  18                 0             0  ...     1     0                 0
20  21                 2             2  ...     1     1                 2
24  25                 3             3  ...     1     0                 0
27  28                 4             4  ...     1     0                 3
32  33                 0             0  ...     1     0                 0
44  45                 5             5  ...     1     0                 0
45  46                 0             0  ...     0     1                 2
46  47                 0             0  ...     1     1                 2

[10 rows x 8 columns]

Exportando data

In [0]:
df.to_csv('Casos-coronavirus-colombia.csv')